* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Unlock', cursive;
}
.border {
    border: 2px solid black;
}
/* Mobile View */
@media only screen and (max-width: 400px) {
    

    .questionContainer {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .questionForm {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .answers {
        display: flex;
        margin: 3em;
        padding: 1em;
        text-align: center;
        justify-content: center;
        align-content: center;
        
    }

    button {
        background-color: white;
        border-radius: 12px;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-content: center;
    }
    
    
  }
  
  /* Tablet View */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        
        display: flex;
    }
    .questionContainer {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .answers {
        padding: 1em;
        text-align: center;
    }

    .qAndA {
        margin: 0;
        padding: 0;
    }
    .question {
        text-align: center;
    }
    .questionForm {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;   
       
    }
    button {
        background-color: white;
        border-radius: 12px;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-content: center;
    }

   
  }
  
  /* Desktop View */
  @media only screen and (min-width: 961px) {
    body {
        
        display: flex;
    }
    
    .questionContainer {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .answers {
        padding: 1em;
        text-align: center;
    }

    .qAndA {
        margin: 0;
        padding: 0;
        flex-direction: row;
        
    }
    .question {
        text-align: center;
    }
    .questionForm {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
    }

    .answerSpan {
        display: flex;
    }

    button {
        background-color: white;
        border-radius: 12px;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-content: center;
          
    }
    
   

  }


   



/* font-family: 'Montserrat', sans-serif;
font-family: 'Unlock', cursive; */