<svg viewBox="0 0 960 300">
    <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="80%">Quick Flix</text>
    </symbol>

    <g class = "g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
    </g>
</svg>

<div class="welcomeEnter">
<form class="welcomeForm">
    <input class="welcomeName" type="text" placeholder="What's your name?" ng-model="$ctrl.userName">
    <button class="welcomeButton" ng-click="$ctrl.addName()">Let's Play!</button>
</form>

</div>



