<div class="pickContainer">
<h1 class="pick">Pick your level of Difficulty!</h1>
</div>

    <div class="rating">

                <p class="mostDifficult">Most Difficult</p>

                <span ng-click="$ctrl.goHard()" class="star">☆</span>
        
                <span ng-click="$ctrl.goMedium()" class="star">☆</span>
        
                <span ng-click="$ctrl.goMedium()" class="star">☆</span>
   
                <span ng-click="$ctrl.goEasy()" class="star">☆</span>
       
                <span ng-click="$ctrl.goEasy()" class="star">☆</span>
                
                <p class="easiest">Easiest</p>

</div>